html {
  height: 100%;
  min-height: 420px;
}

body {
  font-family: "helvetica neue", arial, helvetica;
  overflow: hidden;
  background:#000 none repeat scroll 0 0;
  color: #fff;
  font-family:Helvetica;
  font-size:72%;
  line-height:1.5em;
  position: relative;
  max-height: 460px;
  height: 100%;
  min-height: 416px;
  margin: 0 auto;
  padding: 0 3px;
  width: 314px;
/*  width: 320px;*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#0A0A0A));
  border-top:1px solid #393939;
}

/* marbles themes */
#grid { 
  z-index: 10;
/*  border-top: 1px solid #404040;*/
  height: 314px;
/*  height: 320px;*/
  position: relative; 
  margin: auto;
  -webkit-transition: opacity linear 100ms;
}

#control {
  background-color: #fff;
/*  width: 100%;*/
  padding: 10px 0;
}

#control * { 
  display: inline;
}

.hidden { 
  display: block; 
}

a {
  color: #fff;
}

/* a marble */
#grid > div { 
  cursor: pointer;
  position: absolute; 
  background-color: transparent;
  height: 40px;
  width: 40px;
/*  -webkit-border-radius: 4px;*/
}

#grid > .one {
  background: #CA2275;
  background: -webkit-gradient(radial, 50% 0%, 0, 25% 0%, 50, color-stop(0, #CA2275), color-stop(1, #A60858));
  border: 2px solid #A60867;
}

#grid > .two {
  background: #43BDF7;
  background: -webkit-gradient(radial, 50% 0%, 0, 0% 0%, 50, color-stop(0, #43BDF7), color-stop(1, #4398F7));
  border: 2px solid #43BDF7;
}

#grid > .three {
  background: #FADC3D;
  background: -webkit-gradient(radial, 50% 0%, 0, 0% 0%, 90, color-stop(0, #FFFF3D), color-stop(1, #FAAE3D));
  border: 2px solid #FCCF08;
}

#grid > .four {
  background: #8DDE39;
  background: -webkit-gradient(radial, 50% 0%, 0, 0% 0%, 40, color-stop(0, #8DDE39), color-stop(1, #8DBF39));
  border: 2px solid #8DDE39;
}

#grid > .empty {
  cursor: auto;
}

#grid > .selected {
  opacity: 0.5;
}

.toolbar {
  position: relative;
  z-index: 10;
  height: 44px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.7);
  font-size: 24px;
  line-height: 44px;
  font-weight: bold;
  padding: 4px;
  border-bottom: 1px solid #242424;
}

.status {
  position: absolute;
  bottom: 0;
}

#start,
#potential {
  float: right;
  text-decoration: none;
}

#score {
  float: left;
}

#replay, #levelup {
  z-index: 10;
  display: none;
  position: absolute;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  width: 314px;
  -webkit-transform: opacity linear 100ms;
  font-size: 28px;
}

#levelup {
  cursor: pointer;
  top: 40%;
  border: 1px solid #0c0;
  background: rgba(0,218,0,.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 18px;
  margin: 0 10%;
  width: 80%;
/*  background: #00c -webkit-gradient(linear, 0% 0%, 0% 75%, from(rgba(0,0,218,.4)), to(rgba(0,0,99,0.4)));*/
}

#levelup p {
  margin: 10px;
/*  line-height: 28px;  */
/*  line-height: 10px;*/
}

#newGameCountdown {
  position: absolute;
  margin-top: -5px;
  font-family: georgia;
  margin-left: 5px;
  font-size: 28px;
}

#replay {
  opacity: 0;
}

.gameover #replay {
  display: block;
  opacity: 1;
}

.levelup #levelup {
  display: block;
  opacity: 1;
}

.gameover #grid {
  opacity: 0.3;
}

#replay a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 4px rgba(255,255,255,0.8);
  -moz-box-shadow: 0 0 4px rgba(255,255,255,0.8);
  box-shadow: 0 0 4px rgba(255,255,255,0.8);
  text-shadow: 0 0 4px rgba(255,255,255,0.3);
  background: #00c;
  background: #00c -webkit-gradient(linear, 0% 0%, 0% 50%, from(#0000ff), to(#000063));
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
}

#replay :nth-child(2) {
  margin-right: 10px;
}

#replay p {
  font-size: 28px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(255,255,255,.2);
  font-weight: bold;
  margin: 40px 0;
}

#timer {
  overflow: hidden;
  z-index: 9; /* sits below everything */
  position: absolute;
  bottom: 2px;
  height: 44px;
  border: 0;
  padding: 0;
  background: #7D0000;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #f00), color-stop(1, #7D0000));
  width: 314px;
  text-shadow: -1px -1px 0px #270000;
  color: rgba(255, 0, 0, 0.2);
}

#timer > * {
  position: absolute;
  left: 120px;
  line-height: 48px;
}

#status {
  border: 0;
}

/*
#grid {
  display: block;
  z-index: 20;
  top: 0;
  position: absolute;
}*/

#saveToSpring {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 12;
  background: url(addtohome.png) no-repeat bottom 48%;
  display: none;
}

.saveToSpring #saveToSpring {
  display: block;
}